@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); 

*{ 
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif; 
} 

nav{ 
    width: 100%; 
    height: 75px; 
    background-color:#36013f ; 
    line-height: 75px; 
    padding: 0px 100px; 
    position: relative; 
    z-index: 1; 
} 

nav .logo{ 
    font-size: 40px; 
    font-weight: 700; 
    letter-spacing: 1.5px; 
} 

nav .logo p{ 
    float: left; 
    color: #40e0d0; 
} 

nav ul{ 
    float: right; 
} 

nav ul li{ 
    display: inline-block; 
    list-style: none; 
} 

nav ul li a{ 
    color: white; 
    text-decoration: none; 
    font-size: 17px; 
    text-transform: uppercase; 
    padding: 0px 32px; 
} 

nav ul li a:hover { 
    color: #008080; 
} 

.responsive{ 
    width: 100%; 
    height: auto; 
} 

h1{
    font-size: 40px; 
} 

img{ 
    float: left; 
} 

body{ 
    text-align: center; /*Center in IE */ 
} 

#content{ 
    text-align: left; 
    margin: 0 auto; 
    width: 1000px; 
} 

html{ 
    overflow: -moz-hidden-unscrollable; 
} 

p{ 
    font-size: 20px; 
} 

h1,h2{ 
    font-family: Arial, Helvetica, sans-serif; 
} 

#first{ 
    display: table; 
} 

#second{ 
    display: table; 
} 

#third{ 
    display: table; 
} 

.footer{ 
    min-height: 200px; 
    width: 100%; 
    background-color: #008080; 
    display: flex; 
    justify-content: center; 
} 

 